<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>InitialActions</servlet-name>
        <servlet-class>servlets.InitialActions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DataProcessor</servlet-name>
        <servlet-class>servlets.DeviceDataProvider</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CameraDataProvider</servlet-name>
        <servlet-class>servlets.CameraDataProvider</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GlobalDataProvider</servlet-name>
        <servlet-class>servlets.GlobalDataProvider</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeviceDataProvider</servlet-name>
        <servlet-class>servlets.DeviceDataProvider</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InitialActions</servlet-name>
        <url-pattern>/InitialActions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DataProcessor</servlet-name>
        <url-pattern>/DataProcessor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CameraDataProvider</servlet-name>
        <url-pattern>/CameraDataProvider</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GlobalDataProvider</servlet-name>
        <url-pattern>/GlobalDataProvider</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeviceDataProvider</servlet-name>
        <url-pattern>/DeviceDataProvider</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
