/*
* Archivo de estilo para la página web de
* SEMOLA
*/

h1, h2 {
	text-align: center;    
	color: #FFFFFF;
	font-family: "Comic Sans MS";
}

h2 {
	padding-bottom: 10px;
}

body {
	background: #1F618D;
	color: #FFFFFF;
}

#etsit, #upm {
	height: 100px;
}

#logo_right {
	text-align: right;
	margin-top: -100px;
}

.footer {
    margin-top: 70px;
    margin-bottom: 20px;
}

#contenido {
    margin-left: 20px;
    margin-top: 80px;
}

#logs {
    margin-top: 30px;
    border: solid 2px #FFFFFF;
    height: 200px;
    width: 600px;
}

#botones, .nofloating, #video {
    margin-top: 30px;
}

table, th, td, tr {
	border: 2px solid #1F618D;
	background-color: #33cccc;
	padding: 10px 20px;
	margin: 4px 2px;
}

button {
	border: none;
	text-align: center;
    text-decoration: none;
    display: inline-block;
	background-color: #33cccc;
	padding: 10px 20px;
	margin: 4px 2px;
	font-weight: bold;
	font-family: "Comic Sans MS";
	font-size: 16px;
}

a, a:visited, a:hover {
    color:#FFFFFF;    
}

#logo_semola  {
	height: 80px;
}
